<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>EnviosYa</h1>
      <h2>Su envio ha sido recibido</h2>
      
      <p>
         El envio Nro.<%= @shipment_details['id'] %> ha sido recibido, en el recibo adjunto podra ver detalles sobre el mismo.
      </p>

      
   </body>
</html>