<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<h1>EnviosYa</h1>
<h2>Estado de su solicitud para unirse como cadete</h2>

<% if @accepted %>

    <p> Su solicitud ha sido aceptada. </p>

    <p> Ya forma parte de nuestro equipo</p>
 <%else%>

    <p> Su solicitud ha sido rechazada.</p>


<%end %>

</body>
</html>